@define-color background #070c10;
@define-color foreground #af8c2d;
@define-color system #b54b73;
@define-color modules #928374;
@define-color traybg #1a1d25;
@define-color texts #7f5a63;
@define-color green #c09931;



* {
  background: @background;
  border: none;
  border-radius: 0;
  font-family: "fa-regular-400", sans-serif;
  font-size: 14px;
  min-height: 0;
}


window#waybar {
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}


#workspaces {
  color: @foreground;
  background-color: @traybg;
  padding: 0 12px;
  margin: 4px 4px 4px 4px;
  border-radius: 75px;
  background-clip: padding-box;
  border-top: 0px solid @traybg;
  border-bottom: 0px solid @traybg;
}


#workspaces button {
  padding: 0px 5px;
  background: @traybg;
  color: @foreground;
  border-top: 0px solid @traybg;
  border-bottom: 0px solid @traybg;
}

#workspaces button.active {
  border-bottom: 3px solid @foreground;
  border-top: 0px solid @traybg;
  background: @traybg;
}

#workspaces button.urgent {
  border-bottom: 3px solid @foreground;
  border-top: 0px solid;
  background: @traybg;
}



#custom-pacman {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: @traybg;
  border-radius: 90px;
  padding: 0 6px;
  margin: 4px 2px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}

#custom-pacman.pending-updates {
  animation-name: blink-update;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#custom-pacman.active {
  background-color: @traybg;
  color: #ff5733;
  animation-name: none;
}

@keyframes blink-update {
  to {
    background-color: @traybg;
    color: #000000;
  }
}



#custom-kernel {
  color: #7f5a63;
  padding: 0 6px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#custom-media {
  color: @texts;
  padding: 0 6px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#custom-usb {
  color: @foreground;
  padding: 0 10px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#custom-dunst {
  padding: 0 6px;
  margin: 4px 2px;
  color: @modules;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#custom-vpn {
  color: @modules;
  background: @traybg;
  border-radius: 90px;
  padding: 0 6px;
  margin: 4px 2px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#network {
  color: #7f536f;
  padding: 0 6px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#memory {
  padding: 0 6px;
  margin: 4px 2px;
  color: @system;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#cpu {
  padding: 0 6px;
  margin: 4px 2px;
  color: @system;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;

}


#disk {
  padding: 0 6px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#pulseaudio {
  padding: 0 6px;
  margin: 4px 2px;
  color: @foreground;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}

#bluetooth {
  color: @foreground;
  padding: 0 10px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#backlight {
  color: @foreground;
  padding: 0 10px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#clock {
  color: @texts;
  padding: 0 6px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#battery {
  padding: 0 6px;
  margin: 4px 2px;
  background: @traybg;
  border-radius: 90px;
  border-top: 1px solid @traybg;
  border-bottom: 1px solid @traybg;
}


#battery.charging {
  border-top: 3px transparent;
  border-bottom: 3px solid transparent;
  animation-name: blink;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #13180a;
  
}


@keyframes blink {
  to {
    background-color: #3d4e20;
    color: #ffa500;
  }
}

#battery.critical:not(.charging) {
  color: #843640;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


